<%- include('partials/header.ejs') %>

<div class="login">
    <h1>register</h1>


    <div id="errorelog" class="alert alert-danger"></div>
    <form class="form" action="/regauth" method="post">
        <label for="username">
            <!-- font awesome icon -->
            <i class="fa fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="username" id="username" required>
        <label for="email">
            <!-- font awesome icon -->
            <i class="fa fa-at"></i>
        </label>
        <input type="text" name="email" placeholder="email" id="email" required>
        <label for="password">
            <i class="fa fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <label for="confirmpassword">
            <i class="fa fa-lock"></i>
        </label>
        <input type="password" name="confirmpassword" placeholder="confirmpassword" id="confirmpassword" required>
        <input type="submit" value="Login">
    </form>
</div>
if you  have account please <a href="./login">login</a>


<%- include('partials/footer.ejs') %>



<script>
    const form = document.querySelector('form')
    form.addEventListener('submit', async (e) => {
        e.preventDefault();


        document.getElementById("errorelog").innerText = '';


        // get values
        const email = form.email.value;
        const username = form.username.value;
        const password = form.password.value;
        const confirmpassword = form.confirmpassword.value;

        try {
            const res = await fetch('/regauth', {
                method: 'POST',
                body: JSON.stringify({
                    email, password, username, confirmpassword}),
                headers: { 'Content-Type': 'application/json' }
            });

            const data = await res.json();
            if (data.errors) {

                document.getElementById("errorelog").innerText = data.errors.all;
            }
            if (data.email) {
                document.location.href = 'http://localhost:1337/login';
            }

        }
        catch (err) {
            console.log(err);
        }

    });


</script>