<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="http://localhost:1337/css/bootstrap.min.css" >
        <link rel="stylesheet" href="http://localhost:1337/css/style.css" >

        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="http://localhost:1337/js/bootstrap.min.js" ></script>
    </head>
    <body>
<div class="row">
    <div class="col-4"><h1>My work list</h1></div>
    <div class="col-8"><%if(req.session.loggedin){%> <%=req.session.username%> --  <a href="./logout"> logout</a><%}else{%><a href="./login">login/register</a><%}%></div>

</div>
